.git
.env
.env.backup
.env.production
.env.testing.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/app/backups/*
storage/framework/views/*
bootstrap/cache/*.php
.phpunit.result.cache
.phpunit.cache
tests
docs
*.md
